<html>

<head>
    <meta charset="utf-8">
    <title>Friends Page</title>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!--Font-Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!--External Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="./css/friends.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <img src="/images/p3-logo-transparent.png" width="70" length="70">
            <li class="logo">P#3 Social Media</li>

            <div class="dropdown">
                <li class="items">
                    <span class="icon-navbar">
                        <a href="/home"><i class="fas fa-home"></i>
                            Home</a>
                    </span>
                </li>
                <div class="dropdown-content">
                </div>
            </div>
            <div class="dropdown">
                <li class="items">
                    <span class="icon-navbar">
                        <a href="#" id="account-a">
                            <i class="fas fa-user-circle"></i>
                            Account</a>
                    </span>
                </li>
                <div class="dropdown-content">
                    <a href="/profile"><i class="far fa-id-card"></i>Profile</a>
                    <a href="/friends"><i class="fas fa-users"></i>Friends</a>
                    <a href="javascript:deleteAccount();"><i class="fas fa-trash-alt"></i>Delete</a>
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
            <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <main id="main" class="flexbox-col-start-center">
        <!-- Profile Page -->
        <div class="view-width">
            <div class="top-welcome">
                <span>
                    <p>
                        See who you are following, <%= user %>!
                    </p>
                    <span id="user-js">
                        <%= user %>
                    </span>
                </span>
            </div>

            <section id="profile-page-id" class="profile-page">
                <h3>All friends</h3>
                <br>
                <div class="friends-container" id="friends-section">
                    <!-- Each Row -->
                </div>

                <h3 id="empty-warning"></h3>
            </section>
            
            <a href="/discover" class="d-button">Discover new friends!</a>
            <a href="javascript:sendEmail()" class="d-button">Invite a friend to P#3!</a>
            <br><br><br>
        </div>
    </main>
</body>

<script>
    var username = document.getElementById("user-js").innerHTML.trim();

    $(document).ready(function () {

        // Assign button click function.
        $('.btn').click(function () {
            $('.items').toggleClass("show");
            $('ul li').toggleClass("hide");
        });

        // Build friends profiles cards
        $.getJSON("./data/users.json", function (data) {
            var dataUsers = data["users"];
            var userData = '';
            for (var k = 0; k < dataUsers.length; k++) {
                if (dataUsers[k]["username"] == username) {
                    userData = dataUsers[k];
                    break;
                }
            }

            var friends = dataUsers[k]["friends"];
            var profileContainer = document.getElementById("friends-section");
            var profilesHTML = "<div class='row'>";

            for (var i = 1; i <= friends.length; i++) {
                // For each friend of the current user, build a profile card and write to the page.
                let currID = uuidv4();
                let currData = friends[i - 1];

                // Look for user data in the database.
                for (var m = 0; m < dataUsers.length; m++) {
                    if (dataUsers[m]["username"] == currData["user"]) {
                        userData = dataUsers[m];
                        break;
                    }
                }

                // Fill out the HTML with the user data
                let currBio = userData["bio"];
                let currProfilePictureSrc = userData["picture"];

                if (i % 4 == 0 && i != friends.length) {
                    profilesHTML += buildProfileCard(currData["user"], currProfilePictureSrc, currBio, currID) + "</div><div class='row'>"
                } else if (i % 4 != 0 && i != friends.length) {
                    profilesHTML += buildProfileCard(currData["user"], currProfilePictureSrc, currBio, currID);
                } else {
                    profilesHTML += buildProfileCard(currData["user"], currProfilePictureSrc, currBio, currID) + "</div>";
                }
            }

            profileContainer.innerHTML += profilesHTML ;


        }).fail(function () {

        });
    });

    function uuidv4() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    function deleteAccount() {
        let result = confirm('Are you sure you want to delete? Your action cannot be undone!');
        if (result == true) {
            $.ajax({
                url: "/delete",
                type: "POST",
                data: JSON.stringify({ "user": username }),
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.status == 200) {
                        window.location.replace('/index');
                    }
                }, error: function (xhr) {
                    if (xhr.status == 200) {
                        window.location.replace('/index');
                    }
                }
            });
        }
    };

    function buildProfileCard(theUser, theProfilePicSrc, theBio, theID) {

        return `<div class="col-12 col-sm-6 col-md-4 col-lg-3" id="` + theID + `">
                            <div class="our-team">
                                <div class="picture">
                                    <img class="img-fluid" src="` + theProfilePicSrc + `">
                                </div>
                                <div class="team-content">
                                    <h3 id='user-` + theID + `' class="name">` + theUser + `</h3>
                                </div>
                                <h4 class="title">` + theBio + `</h4>
                                <ul class="social">
                                    <li><a class="follow" href="/userprofile?name=` + theUser + `">Visit Page</a></li>
                                    <li><a class="follow" href="javascript:unfollow('` + theID + `')">Unfollow</a></li>
                                </ul>
                            </div>
                </div>`;
    }

    function unfollow(theID) {
        // Remove element from friends page
        var friendID = document.getElementById("user-" + theID).innerHTML.trim();
        document.getElementById(theID).remove();

        // Remove friend from database
        $.getJSON("./data/users.json", function (data) {
            var dataUsers = data["users"];
            var userData = '';
            for (var k = 0; k < dataUsers.length; k++) {
                if (dataUsers[k]["username"] == username) {
                    userData = dataUsers[k];
                    break;
                }
            }

            var friends = dataUsers[k]["friends"];
            console.log("UNFOLLOW -> " + dataUsers[k]["friends"]);
            console.log(friendID);
            for (var j = 0; j < friends.length; j++) {
                if (friends[j]["user"] == friendID) {
                    dataUsers[k]["friends"].splice(j, 1);
                }
            }

            $.ajax
                ({
                    type: "POST",
                    url: '/unfollow',
                    data: JSON.stringify({ "data": dataUsers }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function () { console.log("Successful unfollow in JSON."); },
                    failure: function () { console.log("Error unfollow in JSON."); }
                });


        }).fail(function () {

        });

        // Add 'No friends' warning if user has no friends
        if (document.getElementById("friends-section").children.length == 0) {
            document.getElementById("empty-warning").innerHTML = "You do not have any friends yet :(";
        }

    }

    function sendEmail() {

        let subject = "Come Join P#3 Today!";
        let body = "Hello, there!%0D%0A%0D%0ARegister now in P#3 and join the revolution: http://cs.merrimack.edu:5000/index %0D%0A%0D%0ABest regards,%0D%0AP#3 Team%0D%0A%0D%0A";
        window.open(
            'mailto:?subject=' + subject +
            '&body=' + body);
    }

</script>

</html>