html,
body {
    height: 100%;
    margin: auto;
}

.nav {
    display: flex;
    font-size: 17px;
    background-color: #2554C7;
    list-style: none;
    top: 0;
    margin: 0px;
    padding: 0px;
    border: 1px solid;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}

.foot{
    display:flex;
    background-color: #2554C7;
    font-size: 17px;
    list-style:none;
    width:100%;
}

#foot-list {
    list-style: none;
}

.nav li:first-child {
    margin-right: auto;
}

.nav li:last-child {
    margin-right: 20px;
}

.nav li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.nav li a:hover {
    background-color: #ddd;
    color: #2554C7;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap');
:root {
    --scale: 0.1;
    --space: 8vmin;
    --font-primary: 'Lato', sans-serif;
    --font-heading: 'Playfair Display', serif;
}

@media (prefers-reduced-motion) {
     :root {
        --scale: 0;
    }
}

* {
    box-sizing: border-box;
}

body {
    color: hsl(0, 0%, 95%);
    background-color: #FFFF66;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    font-family: var(--font-primary);
    line-height: 1.6;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: hsl(65, 80%, 60%);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.section {
    transform-origin: center top;
    transform: scaleY(calc(1 - var(--scale)));
}

.section>* {
    transform-origin: center top;
    transform: scaleY(calc(1 / (1 - var(--scale))));
}

.section-title {
    font-family: var(--font-heading);
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: bold;
    line-height: 1.125;
}

.byline {
    display: block;
    font-size: 0.6em;
    margin: calc(var(--space) / 1.35) 0;
}

.content {
    position: relative;
    margin: -10vh auto 0;
    padding: var(--space);
    max-width: 55ch;
    width: calc(100% - var(--space));
    background: hsla(5, 15%, 5%, 0.9);
}

.content>*+* {
    margin-top: 2rem;
}

.image-container {
    position: sticky;
    top: 0;
    margin-left: auto;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.image-container img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient( to bottom, hsla(5, 15%, 5%, 0) 0%, hsla(5, 15%, 5%, 0.013) 8.1%, hsla(5, 15%, 5%, 0.049) 15.5%, hsla(5, 15%, 5%, 0.104) 22.5%, hsla(5, 15%, 5%, 0.175) 29%, hsla(5, 15%, 5%, 0.259) 35.3%, hsla(5, 15%, 5%, 0.352) 41.2%, hsla(5, 15%, 5%, 0.45) 47.1%, hsla(5, 15%, 5%, 0.55) 52.9%, hsla(5, 15%, 5%, 0.648) 58.8%, hsla(5, 15%, 5%, 0.741) 64.7%, hsla(5, 15%, 5%, 0.825) 71%, hsla(5, 15%, 5%, 0.896) 77.5%, hsla(5, 15%, 5%, 0.951) 84.5%, hsla(5, 15%, 5%, 0.987) 91.9%, hsl(5, 15%, 5%) 100%);
}

@keyframes fadein {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
